body{
    background-color: lightgray;
}
#videoContainer{
    width: 95%;
    height: 500px;
    border: 1px solid grey;
    margin: 4% 2.5% 0%;
    background-color: black;
}
#startb{
    margin-left: 2.5%;
    width: 100px;
    height: 25px;
}